.entire-screen{
    height:5000px;
}

/* WELCOME SCREEN */


/* Style the entirety of the welcome screen */
.welcome-screen{
    position:absolute;
    top:0px;
    left:0px;
    width:1275px;
    height:600px;
    background-color: rgba(40, 40, 40, 0.88);
}

.project-screen-button{
    position:absolute;
    color:white;
    font-family:'Source Code Pro', monospace;
    font-weight:400;
    top:20px;
    left:830px;
    font-size:15px;
    text-decoration:none;
    text-shadow:4px 4px 4px black;
}

/* Style the 'Welcome!' text */
.welcome-text {
    position:absolute;
    font-family:'Lily Script One', cursive;
    top: -107.5px;
    left: 12px;
    font-size: 150px;
    color: rgba(255, 255, 255, 1);
    font-weight:100;
    padding:5px 10px;
    text-shadow:10px 10px 10px black;
}

/* Style the 'my name is' text */
.my-name{
    position:absolute;
    color: white;
    top: 170px;
    left: 230px;
    font-weight:400;
    font-family: 'Source Code Pro', monospace;
    font-size:26.5px;
    text-shadow:4px 4px 4px black;
}

/* Style the 'here is' text */
.here-is{
    position:absolute;
    color:white;
    top: 232.5px;
    left: 402.5px;
    font-family: 'Source Code Pro', monospace;
    font-size:27px;
    font-weight:400;
    text-shadow:4px 4px 4px black;
}

/* Style the 'a little about me' text */
.little-about-me{
    position:absolute;
    color:white;
    font-family:'Source Code Pro', monospace;
    font-size:36px;
    font-weight:400;
    top:345px;
    left:460px;
    text-shadow:4px 4px 4px black;
}

/* Style the about me paragraph */
.about-me-paragraph{
    position:absolute;
    color:white;
    font-family:'Source Code Pro', monospace;
    font-size:17px;
    font-weight:400;
    top:445px;
    left:75px;
    width:1100px;
    text-shadow:4px 4px 4px black;
}


/* PROJECT SCREEN */


/* Style the entirety of the screen */
.project-screen{
    position:absolute;
    background-color:white;
}

.projects-text{
    position:absolute;
    color:black;
    font-family:'Source Code Pro', monospace;
    font-size:65px;
    font-weight:400;
    top:600px;
    left:480px;
}

.mcs-text{
    position:absolute;
    color:black;
    font-family:'Source Code Pro', monospace;
    font-size:35px;
    font-weight:400;
    top:748.75px;
    left:452.5px;
    width:600px;
}

.mcs-logo{
    position:absolute;
    border-radius:50px;
    width:325px;
    top: 802px;
    left:466px;
}

.logo-bttn-explain{
    position:absolute;
    width:190px;
    top:1111px;
    left:532.5px;
    font-family:'Source Code Pro', monospace;
    color:black;
    font-weight:400;
    font-size:9px;
}

.what-box{
    border:3px solid rgba(234, 234, 234, 1);
    width:325px;
    height:330px;
    position:absolute;
    top:770px;
    left:0px;
    background-color:rgba(234, 234, 234, 1);
    font-family:'Lily Script One', cursive;
    font-size:50px;
    text-align:center;
}

.what-text{
    font-size:16px;
    position:absolute;
    top:830px;
    left:5px;
    font-family:'Source Code Pro', monospace;
    width:310px;
    font-weight:400;
    line-height: 0.95;
}
.how-text{
    font-size:16px;
    position:absolute;
    top:830px;
    left:905px;
    font-family:'Source Code Pro', monospace;
    width:310px;
    font-weight:400;
    line-height:.95;
}

.how-box{
    border:3px solid rgba(234,234,234,1);
    width:325px;
    height:330px;
    position:absolute;
    top:770px;
    left:900px;
    background-color:rgba(234,234,234,1);
    font-family:'Lily Script One', cursive;
    font-size:50px;
    text-align:center;
}


/* SKILLS SCREEN */

.skills-screen{
    border:5px solid rgba(100, 100, 100, 1);
    background-color:rgba(100, 100, 100, 1);
    position:absolute;
    top:1280px;
    width:1250px;
    height:2500px;
    left:0px;
}

.skills-txt{
    position:absolute;
    top:5px;
    left:520px;
    color:white;
    font-family:'Source Code Pro', monospace;
    font-weight:400;
    font-size:65px;
}

/* Python Box */
.python-box{
    background-color:white;
    position:absolute;
    top:235px;
    left:45px;
    width: 320px;
    height:180px;
    font-family:'Lily Script One', cursive;
    text-align:center;
    font-size:42px;
    box-shadow:10px 10px 10px black
}
.python-img{
    position:absolute;
    width:175px;
    height:110px;
    top:300px;
    left:120px;
}

/* Godot Box */
.godot-box{
    background-color:white;
    position:absolute;
    top:235px;
    left:475px;
    width:320px;
    height:180px;
    font-family:'Lily Script One', cursive;
    text-align:center;
    font-size:42px;
    box-shadow:10px 10px 10px black
}
.godot-img{
    position:absolute;
    width:125px;
    height:125px;
    top:290px;
    left:580px;
}

/* SQL Box */
.sql-box{
    background-color:white;
    position:absolute;
    top:235px;
    left:904px;
    width:320px;
    height:180px;
    font-family:'Lily Script One', cursive;
    text-align:center;
    font-size:42px;
    box-shadow:10px 10px 10px black
}
.sql-img{
    position:absolute;
    width:90px;
    height:110px;
    top:300px;
    left:1020px;
}

/* HTML/CSS Box */
.html-box{
    background-color:white;
    position:absolute;
    top:525px;
    left:45px;
    width:320px;
    height:180px;
    font-family:'Lily Script One', cursive;
    text-align:center;
    font-size:42px;
    box-shadow:10px 10px 10px black
}
.html-img{
    position:absolute;
    width:150px;
    height:150px;
    top:570px;
    left:80px;
}
.css-img{
    position:absolute;
    width:80px;
    height:110px;
    top:591.5px;
    left:230px;
}