

/* WELCOME SCREEN */


/* Style the entirety of the welcome screen */
.welcome-screen{
    position:absolute;
    top:0px;
    left:0px;
    width:1275px;
    height:600px;
    background-color: rgba(40, 40, 40, 0.88);
}

.project-screen-button{
    position:absolute;
    color:white;
    font-family:'Source Code Pro', monospace;
    font-weight:400;
    top:20px;
    left:830px;
    font-size:15px;
    text-decoration:none;
}

/* Style the 'Welcome!' text */
.welcome-text {
    position:absolute;
    font-family:'Lily Script One', cursive;
    top: -107.5px;
    left: 12px;
    font-size: 150px;
    color: rgba(255, 255, 255, 1);
    font-weight:100;
    padding:5px 10px;
}

/* Style the 'my name is' text */
.my-name{
    position:absolute;
    color: white;
    top: 170px;
    left: 230px;
    font-weight:400;
    font-family: 'Source Code Pro', monospace;
    font-size:26.5px;
}

/* Style the 'here is' text */
.here-is{
    position:absolute;
    color:white;
    top: 232.5px;
    left: 402.5px;
    font-family: 'Source Code Pro', monospace;
    font-size:27px;
    font-weight:400;
}

/* Style the 'a little about me' text */
.little-about-me{
    position:absolute;
    color:white;
    font-family:'Source Code Pro', monospace;
    font-size:36px;
    font-weight:400;
    top:345px;
    left:460px;
}

/* Style the about me paragraph */
.about-me-paragraph{
    position:absolute;
    color:white;
    font-family:'Source Code Pro', monospace;
    font-size:17px;
    font-weight:400;
    top:445px;
    left:75px;
    width:1100px;
}


/* PROJECT SCREEN */


.project-screen{
    position:absolute;
    background-color:white;
    height:3000px;
}

.projects-text{
    position:absolute;
    color:black;
    font-family:'Source Code Pro', monospace;
    font-size:65px;
    font-weight:400;
    top:600px;
    left:480px;
}

.mct-text{
    position:absolute;
    color:black;
    font-family:'Source Code Pro', monospace;
    font-size:35px;
    font-weight:400;
    top:748.75px;
    left:452.5px;
    width:600px;
}

.mct-logo{
    position:absolute;
    top:900px;
    border-color:hotpink;
    border-radius:50px;
}